if TARGET_SMARCIMX8MM

config SYS_BOARD
	default "smarcimx8mm"

config SYS_VENDOR
	default "embedian"

config SYS_CONFIG_NAME
	default "smarcimx8mm"

config IMX_CONFIG
	default "board/freescale/imx8mm_evk/imximage-8mm.cfg"

config IMX8M_1G_MEMORY
	bool "imx8m 1GB memory size"

source "board/freescale/common/Kconfig"

endif
