if TARGET_SMARCIMX8QM

config SYS_BOARD
	default "smarcimx8qm"

config SYS_VENDOR
	default "embedian"

config SYS_CONFIG_NAME
	default "smarcimx8qm"

config IMX_CONFIG
	default "board/freescale/imx8qm_mek/imximage.cfg"

source "board/freescale/common/Kconfig"

endif
