CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/embedian/smarcfimx6/ddr/mx6qp_4x_k4b2g1646q.cfg,MX6QP,SER1,SYS_USE_SPINOR"
CONFIG_ARM=y
CONFIG_TARGET_SMARCFIMX6=y
CONFIG_SYS_MALLOC_F=y
CONFIG_SYS_MALLOC_F_LEN=0x400
CONFIG_DM=y
CONFIG_DM_THERMAL=y
