CONFIG_ARM=y
CONFIG_ARCH_MX7=y
CONFIG_TARGET_SMARCFIMX7=y
CONFIG_SYS_PROMPT="U-Boot# "
CONFIG_IMX_RDC=y
CONFIG_IMX_BOOTAUX=y
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/embedian/smarcfimx7/ddr3l/mx7d_2x_mt41k512m16ha.cfg,DEFAULT_FDT_FILE=\"imx7d-smarcfimx7.dtb\",SER0,MX7D,2GDDR3,SYS_USE_SPINOR"
CONFIG_CMD_GPIO=y
CONFIG_CMD_DHCP=y
CONFIG_CMD_PING=y
