CONFIG_ARM=y
CONFIG_ARCH_MX7=y
CONFIG_TARGET_SMARCFIMX7=y
CONFIG_SYS_PROMPT="U-Boot# "
CONFIG_IMX_RDC=y
CONFIG_IMX_BOOTAUX=y
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/embedian/smarcfimx7/ddr3l/mx7s_2x_k4b2g1646q.cfg,DEFAULT_FDT_FILE=\"imx7s-smarcfimx7.dtb\",MX7S,SER3,SYS_USE_SPINOR"
CONFIG_CMD_GPIO=y
CONFIG_CMD_DHCP=y
CONFIG_CMD_PING=y
