if TARGET_SMARCIMX8MP

config SYS_BOARD
	default "smarcimx8mp"

config SYS_VENDOR
	default "embedian"

config SYS_CONFIG_NAME
	default "smarcimx8mp"

config IMX_CONFIG
	default "board/freescale/imx8mp_evk/imximage-8mp-lpddr4.cfg"

config IMX8MP_GP5_LOCK_UPDATE
	bool "Enable burn GP5_LOCK fuse at boot"
	help
	  Select to check the GP5_LOCK fuse and burn it to WP+OP

endif
